<div class="main-container">

	<header class="header header-6">
		<div class="branding">
			<a class="nav-link" routerLink="/">
				<img class="brand_logo" src="assets/logo.png">
				<span class="title">Facial Mask Detector</span>
			</a>
		</div>

		<div class="header-actions">
			<a class="nav-link">
				<span class="title">V.{{appVersion}}</span>
			</a>
			<!--<clr-dropdown>-->
			<!--<button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">-->
			<!--<clr-icon shape="cog"></clr-icon>-->
			<!--<clr-icon shape="caret down"></clr-icon>-->
			<!--</button>-->
			<!--<clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">-->
			<!--<a href="..." clrDropdownItem>About</a>-->
			<!--<a href="..." clrDropdownItem>Preferences</a>-->
			<!--<a href="..." clrDropdownItem>Log out</a>-->
			<!--</clr-dropdown-menu>-->
			<!--</clr-dropdown>-->
		</div>
	</header>
	<nav class="subnav">
		<div class="content-area">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" href="#">{{'PAGES.LAYOUT.NAV.FACIAL_DETECTOR' | translate}}</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" routerLink="/settings" >{{'PAGES.LAYOUT.NAV.SETTINGS' | translate}}</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">{{'PAGES.LAYOUT.NAV.HELP_LABEL' | translate}}</a>
				</li>

			</ul>
		</div>
	</nav>
	<div class="content-container">
		<div class="content-area">
			<div class="clr-col clr-align-content-center">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
