.brand_logo {
	height: 100%;
	margin-right: 20px;
	margin-top: -6px;

}

::-webkit-scrollbar {
	background-color: #fff;
	width: .7em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
	background: #e4e4e4;
	border-radius: 19px;
	opacity: 0.5;
}
