<div class="clr-row">
    <div class="clr-col-8">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="https://content.fortune.com/wp-content/uploads/2018/10/cam11_a-copy.jpg" alt="..." />
            </div>
        </a>
    </div>
    <div class="clr-col-4">
        <div class="card">

			<div class="card-header">
				Stats
			</div>
			<div class="card-block">
				<div class="progress-block">
					<label for="40progress">More than 40º</label>
					<clr-progress-bar id="40progress" clrValue="30" clrDanger></clr-progress-bar>
				</div>

				<div class="progress-block">
					<label for="normalProgress">35º - 37º</label>
					<clr-progress-bar clrValue="60" clrSuccess></clr-progress-bar>
				</div>

				<div class="progress-block">
					<label for="normalProgress">0º - 34º (Deads in life)</label>
					<clr-progress-bar clrValue="10" ></clr-progress-bar>
				</div>

			</div>
			<div class="card-footer">
				<button class="btn btn-sm btn-link">Alarm!!</button>
				<button class="btn btn-sm btn-link">Run!!!!</button>
			</div>
		</div>

    </div>
</div>
